<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>rebackupable</string>
    <key>CFBundleIdentifier</key>
    <string>rebackupable.rebackupable</string>
    <key>CFBundleName</key>
    <string>Rebackipable</string>
    <key>CFBundleIconFile</key>
	<string>rebackupable.icns</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>xmmd</string>
</dict>
</plist>
